.banner {
  color: white;

  height: calc(100vh);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;

}

.banner-content {
  h1 {
    text-align: center;
  }
}
